
<!-- Header -->

<div class="hearder">
  <div class="status-bar">
    <img class="title-img" src="../assets/images/title.png" />
    <p class="status-txt">RTM to Rig Connectivity Status:</p>
    <div class="connect-status status-field">
      <img src="../assets/images/Status.png" />
      <p>Connected</p>
    </div>
    <p class="compliance-txt">Compliance Status</p>
    <div class="compliance-status status-field">
      <img src="../assets/images/compliance.png">
      <p>Compliant</p>
    </div>
  </div>
  
  <div class="menu-bar">
    <div class="btn btn-overview"><P>OVERVIEW</P></div>
    <div class="btn btn-rtm"><P>RTM</P></div>
    <div class="btn btn-failure"><P>FAILURE PROPAGATION</P></div>
  </div>
</div>

<div class="content" role="main">
  <div class="main-table">
    <div class="table" id="overviewTable">
      <div class="health-table">
        <h2>Health</h2>
        <div class="bop-stack">
          <h3>BOP Stack</h3>
          <div class="frame-list">
            <ul>
              <li>Upper Annular</li>
              <li>Lower Annular</li>
              <li>Gas Bleed Valve</li>
              <li>LMRP Connector</li>
              <li>Choke Connector</li>
              <li>Kill Connector</li>
              <li>Wellhead Connector</li>
            </ul>
            <ul>
              <li>Upper Blind Shear</li>
              <li>Lower Blind Shear</li>
              <li>Casing Shear Ram</li>
              <li>Upper Pipe Ram</li>
              <li>Middle Pipe Ram</li>
              <li>Lower Pipe Ram</li>
              <li>Test Ram</li>
            </ul>
          </div>
        </div>
        <div>

        </div>
        <div></div>
      </div>
    </div>
    <div class="table" id="statusTable"></div>
    <div class="table" id="processTable"></div>
  </div>
</div>

<style>
  .status-bar {
    width: 100%;
    height: 40px;
    background: #003636;
  }

  .status-field {
    float: left;
  }

  .title-img {
    Width: 141.95px;
    Height: 53.54px;
    float: left;
    margin-left: 114px;
  }

  .status-txt {
    float: left;
    margin-left: 279.05px;
    width: 199px;
    height: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .connect-status {
    margin-left: 16px;
  }

  .connect-status img {
    float: left;
    margin-top: 7.95px;
  }

  .connect-status p {
    float: left;
    margin-left: 7.61px;
    color: #00E3A9;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  .compliance-txt {
    float: left;
    margin-left: 48px;
    width: 122px;
    height: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff80;
  }
  
  .compliance-status {
    margin-left: 16px;
  }

  .compliance-status img {
    float: left;
    margin-top: 7.95px;
  }

  .compliance-status p {
    float: left;
    margin-left: 7.61px;
    color: #00E3A9;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  .menu-bar {
    width: 100%;
    height: 40px;
    background: #004141;
  }

  .btn {
    float: left;
  }

  .btn p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #00E3A9;
  }

  .btn-overview {
    left: 114px;
    position: absolute;
    width: 144px;
    height: 40px;
    background: rgba(0, 227, 169, 0.1);
  }

  .btn-rtm {
    left: 260px;
    position: absolute;
    width: 144px;
    height: 40px;
    background: #004141;
  }

  .btn-failure {
    left: 400px;
    position: absolute;
    width: 250px;
    height: 40px;
    background: #004141;
  }

  .content {
    width: 1920px;
    height: 980px;
    background: rgb(0 84 84);
  }

  .main-table {
    width: 1680px;
    height: 948px;
    left: 120px;
    top: 96px;
    position: absolute;
  }

  #overviewTable {
    width: 408px;
    /* height: 964px; */
  }

  .health-table {
    Width: 408px;
    height: 633px;
    padding: 16px;
    background: rgb(0 65 65);
  }

  .health-table h2 {
    width: 56px;
    height: 21px;
    left: 0px;
    top: 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #A7C9C9;
  }

  .bop-stack {
    padding: 16px;
    gap: 24px;
    width: 376px;
    height: 292px;
    background: rgba(25, 84, 84, 0.5);
    border-radius: 8px;
  }

  .bop-stack h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A7C9C9;
  }

  .frame-list {
    width: 319px;
    height: 220px;
    position: absolute;
  }

  .frame-list ul > li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #00E3A9;
  }

  .frame-list ul:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    position: absolute;
    width: 155px;
    height: 220px;
    left: 16px;
  }

  .frame-list ul:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    position: absolute;
    width: 142px;
    height: 220px;
    left: 193px;
  }

</style>

<router-outlet></router-outlet>